.navbar{
    background: #e94558;
}

#bootstrap-override .navtext {
    color: white;
}
#bootstrap-override .navtext:hover{
    color:black
}
#bootstrap-override .project-title{
    color:white;
}
.news-icon{
    padding-right: 10px;

}
#bootstrap-override .home-icon{
    text-align: center;
    margin-top: 10px;
}